/* Style for slides that are visible in the viewport */
.swiper-slide.swiper-slide-visible {
    /* Add your styles here */
    opacity: 0.1 !important ;
  }
.swiper-slide.swiper-slide-prev {
    /* Add your styles here */
    opacity: 0.1 !important ;
  }
  
  /* Style for slides that are fully visible in the viewport */
  .swiper-slide.slide-visible-active {
    /* Add your styles here */
    opacity: 1;
    transform: scale(1);
  }
  
  /* Style for the currently active slide */
  .swiper-slide.slide-active {
    /* Add your styles here */
    border: 2px solid red;
  }
  
  .swiper-slide .swiper-slide-visible .swiper-slide-fully-visible {
    /* Add your styles here */
    opacity: 0.2 !important ;
    transform: scale(0.95) !important;
  }